.cart-container {
  position: relative;
  margin-left: auto;
  cursor: pointer;
  img {
    width: 70px
  }
  .cart-count {
    text-align: center;
    border-radius: 50%;
    width: 1rem;
    height: auto;
    background-color: black;
    padding: 3px;
    position: absolute;
    bottom: 10px;
    margin-left: -20px;

    color: rgb(255, 255, 255);

  }
}
@media (max-width: 640px ){

  .cart-container{
    display:none;
  }

}