.nav-menu {
  &.uncollapsed{
    display: flex;
    align-items: center;
    margin: 0 2rem;
    a{
      text-decoration: none;
      &:focus, &:hover, &:visited {
        color: black;
      }
    }
    
    .logo {
      font-size: 1.5rem
    }

    .logo-image{
      width: 6rem;
      height: 100%;
      margin-right: 0.5rem;
    }

    .brand{
      font-family: 'Charlotte';
      font-size: 3rem;
      display: flex;
      align-items: center;
    }

    ul{
      list-style-type: none;
      margin: 0;
      margin-left: auto;
      li{
        border: none;
        display: inline-block;
        margin: 0 1rem;
        cursor: pointer;
      }
    }
    
}
}
