@charset "utf-8";

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';


@font-face {
  font-family: 'Charlotte';
  font-style: normal;
  font-weight: normal;
  src: local('Charlotte'), url('./assets/fonts/Charlotte.otf') format('truetype');
}
@font-face {
  font-family: 'Back';
  src: url('./assets/fonts/Back.ttf');
}

body{
font-family: 'Courier New', Courier, monospace;
 background-color: #E7DAC9;
 margin: 0px;
}

.app {
  position: relative;
  min-height: 100vh;
}

img {
  width: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.subcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.title-container{
  font-family: 'Charlotte';
  font-size: 3rem;
  margin-top: 2rem;
}
.subtitle{
  font-weight: bold;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 30rem;
  & input{
    margin-bottom: 1rem;
    width: 100%;
  }
  & button{
    margin-top: 1rem;
  }
}
#shop-now {
  font-weight: 600;
  &:hover {
    background-color: #606060;
  }
}

.featured-collection {
  margin-top: 2rem;
  

  .featured-image {
    cursor: pointer;
  }

  @media (min-width: 1024px) {
    .products {
      display: flex;
      justify-content: space-between;
      padding: 5px;

      .featured-product {
        margin: 10px;
      }
    }
  }
}

// single product page
.name-price {
  p {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1rem;
  }
}

// black button styles
.nomad-btn {
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 44px;
}

.outlined-btn{
  font-family: 'Courier New', Courier, monospace;
  border-radius: 20px;
  border: 1px solid black;
  background-color: transparent;
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
  min-height: 44px;
  font-weight: bold;
  &:hover{
    border: none;
    color: brown;
    font-weight: bold;
  }
}

.outlined-red{
  border: 1px solid brown
}

//input styles
::placeholder{
  font-family: 'Courier New', Courier, monospace;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
}
input{
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 10px 5px 10px;
  width: 100%;
  &:focus{
    outline-width: 0;
  }
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-width: 30rem;
  text-align: center;
  input[type='text'],
  input[type='email'],
  input[type='address'],
  input[type='password'] {
    width: 65%;
  }
  .submit-btn{
    max-width: 10rem;
  }
}

.form-error {
  border: 1px solid red;
}

::placeholder {
  color: #606060;
  font-size: 16px;
}

#btn-white-outline {
  border: 1px solid grey;
  margin-bottom: 1rem;
}

#buy-it-now-btn {
  &:hover {
    background-color: #606060;
  }
}

@media (min-widht: 1024px) {
  form {
    width: 60%;
    margin: 0 auto;
    input[type='text'],
    input[type='email'],
    input[type='password'] {
      width: 65%;
    }
  }
}

.error {
  border: 1px solid red;
}

.error-message {
  color: brown;
  font-size: 1rem;
}
